name: Update Map

on:
  push:
  schedule:
    - cron: '*/5 * * * *'

  workflow_dispatch:

jobs:
  update-map:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests gmplot protobuf gtfs-realtime-bindings

    - name: Generate map
      env:
        GMAP_API: ${{ secrets.GMAP_API }}
        TRANSLINK_API: ${{ secrets.TRANSLINK_API }}
      run: python translink.py

    - name: List files to check for index.html
      run: ls -al

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: .
        publish_branch: gh-pages
